<nav class="main-menu">
    <ul>
        <li>
            <a [routerLink]="['/views/presentacion']">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                  Presentación
              </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/views/preguntas']">
                <i class="fa fa-tasks fa-2x"></i>
                <span class="nav-text">
                  Preguntas para exámenes
              </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/views/universidades']">
                <i class="fa fa-university fa-2x"></i>
                <span class="nav-text">
                  Universidades
              </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/views/facultades']">
                <i class="fa fa-graduation-cap fa-2x"></i>
                <span class="nav-text">
                Facultades
            </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/views/carreras']">
                <i class="fa fa-folder fa-2x"></i>
                <span class="nav-text">
                  Carreras
              </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar fa-2x"></i>
                <span class="nav-text">
                  Eventos
              </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-edit fa-2x"></i>
                <span class="nav-text">
                 Blogs
              </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-newspaper-o fa-2x"></i>
                <span class="nav-text">
                  Noticias y talleres
              </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-download fa-2x"></i>
                <span class="nav-text">
                  App móvil
              </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-handshake-o fa-2x"></i>
                <span class="nav-text">
                  Ayuda
              </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a (click)="logout()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                  Cerrar sesión
              </span>
            </a>
        </li>
    </ul>
</nav>