<div class="wrapper" #wrapper>
    <div class="container">
        <h1 class="container-marca" [ngClass]="{'d-none': loginCorrecto}">Guide-U</h1>
        <h1 class="container-bienvenida" [ngClass]="{'ocultar': !loginCorrecto}">Bienvenido(a) {{usuarioNombre}}!</h1>
        <form class="form" [formGroup]="loginForm" #form (ngSubmit)="login()">
            <input type="text" formControlName="email" placeholder="Usuario" required autocomplete="false">
            <div *ngIf="!loginForm.controls['email'].valid && enviado">
                <span class="error-form" *ngIf="loginForm.controls['email'].errors.required">(*) Ingrese su correo electrónico</span>
                <span class="error-form" *ngIf="loginForm.controls['email'].errors.email">(*) Correo electrónico no válido</span>
            </div>
            <br>
            <input type="password" formControlName="password" placeholder="Contraseña" required autocomplete="false">
            <div *ngIf="!loginForm.controls['password'].valid && enviado">
                <span class="error-form" *ngIf="loginForm.controls['password'].errors.required">(*) Ingrese su contraseña</span>
            </div>
            <br>
            <button id="login-button" type="submit">Ingresar</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>