<div class="container-fluid">
    <div class="row pt-3 pb-1">
        <div class="col-12">
            <h1 class="h1-customize">Universidades</h1>
        </div>
    </div>
    <div class="pb-2 hr-customize"></div>
    <div class="row pt-3">
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="txtNombre">
                              Nombre Universidad:
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-2 hr-customize"></div>
    <div class="row pt-3 pb-3">
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-header card-h-customize">
                    Resultados de búsqueda
                </div>
                <div id="tabla" class="card-body table-responsive p-2">
                    <table class="table table-hover mb-0 table-striped table-sm table-customize table-white-wrap table-fixed">
                        <thead class="table-header">
                            <tr class="text-center">
                                <td class="align-middle width-5">#</td>
                                <td class="align-middle width-20">Nombre</td>
                                <td class="align-middle width-20">Dirección</td>
                                <td class="align-middle width-30">Descripción</td>
                                <td class="align-middle width-10">Editar</td>
                                <td class="align-middle width-15">Estado</td>
                            </tr>
                        </thead>
                        <tbody *ngIf="listaUniversidades.length>0 else noData">
                            <tr *ngFor="let item of listaUniversidades; let i = index" class="text-center">
                                <td class="align-middle">{{i+1}}</td>
                                <td class="align-middle">{{item.nombre}}</td>
                                <td class="align-middle">{{item.direccion}}</td>
                                <td class="align-middle text-justify">{{item.descripcion}}</td>
                                <td class="align-middle">
                                    <button type="button" class="btn btn-outline-warning btn-sm">
                                  <i class="fa fa-edit fa-2x"></i>
                                </button>
                                </td>
                                <td class="align-middle text-justify">
                                    <div class="toggle-wrapper">
                                        <div class="toggle checkcross">
                                            <input id="checkcross{{i+1}}" type="checkbox" [checked]="item.estado == 'S'?false:true" />
                                            <label class="toggle-item" for="checkcross{{i+1}}">
                                          <div class="check"></div>
                                        </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <ng-template #noData>
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="6">
                                        {{ 'No existen registros de Universidades' }}
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>