/* You can add global styles to this file, and also import other style files */
.form-control:focus
    color: #495057
    background-color: #fff
    border-color: #ffa500
    outline: 0
    box-shadow: 0 0 0 0.2rem rgba(255, 200, 0, 0.25)
.table-white-wrap
  white-space: pre-wrap
  /* CSS3 */
  white-space: -moz-pre-wrap
  /* Firefox */
  white-space: -pre-wrap
  /* Opera <7 */
  white-space: -o-pre-wrap
  /* Opera 7 */
  word-wrap: break-word

.table-customize
  font-size: 0.8em
  line-height: 2em

.table-fixed
  table-layout: fixed

.table-header
  background-color: orange
  color: #212529
  font-size: 12px
  padding: 10px 0

.center-content
  display: inline-block
  place-self: center

.table-striped tbody tr
  background-color: white !important
  button
    outline: none
    box-shadow: none
    border: 0
  &:hover
    background-color: #f1b13c !important
    button
      color: white
      background: inherit
    label.toggle-item
      border-color: #f1b13c

.h1-customize
  overflow-wrap: break-word
  font-size: 2rem

.hr-customize
  border-bottom: 1px solid orange

.card-h-customize
  font-weight: bolder
  background-color: white

.width-5
  width: 5% !important

.width-10
  width: 10% !important

.width-15
  width: 15% !important

.width-20
  width: 20% !important

.width-30
  width: 30% !important

@media only screen and (max-width: 600px)
  .table-fixed
    table-layout: auto

  .table-responsive-sm
      overflow-x: auto
